
@mixin border($dir, $width, $style, $color) {
    border: 0 $style $color;
    @each $d in $dir {
      #{border-#{$d}-width}: $width;
    }
}
.draggable-container {
    &__oprator {
        &__del {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 999;
            color: red;
            &-del {
                font-size: 20px;
            }
        }
        &__add {
            position: absolute;
            left: 50%;
            z-index: 999;
            height: 40px;
            width: 40px;
            margin: 0 0 0 -20px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            background: #6ec9ff;
            @include border(top bottom left right, 2px, dashed, #6ec9ff);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-items: center;
        }
        &__add-pre {
            top: -10px;
        }
        &__add-next {
            bottom: -10px;
        }
        &__icon {
            font-size: 16px;
            flex: 1;
        }
    }
}